body{
    font-family: 'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1';
	padding: 0;
	margin: 0;
	max-width:100%;
	height: 100%
	
}
img{
	width:.5rem;
	height:.5rem;
}
 
#player-content{
	position:relative;
	height:33%;
	width:100%
}
#chat-wrapper{
	height:60%;
	width:100%;
}
#time-wrapper{
	position:relative;
	background-color:#ef6e79;
	height:7%;
	width:100%;
}
#message-wrapper{
	overflow-scrolling:touch;
	-webkit-overflow-scrolling: touch;
}
#txt-input,#rong-emoji,#send-button{
	display:none;
}
#wap-input{
	box-sizing:border-box;
	border-radius:5px;
	border:1px solid gray;
	outline:0;
	backgorund-color:white;
	text-align:left;
}


#dianzan-dom>.heart-img{
	position:absolute;
	width:.3rem;
	height:.25rem;
}

#send-img{
	position: absolute;
	right: .15rem;
	bottom: .1rem;
	width: 1.1rem;
	height: .35rem;
	text-align:center;
	background-image:url(/h5/public/images/button.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	border:1px solid #9b9b9a;
	border-radius:.5rem;
}

.message-wrapper {
    margin-top: 15px;
}
.message-wrapper>span {
    background: rgba(153,153,153,0.8);
    display: inline-block;
    color: white;
    border-radius: 50px;
    padding: 10px;
    padding-right: 20px;
    word-break: break-all;
}
.message-wrapper>span>img {
    border-radius: 50px;
    vertical-align: middle;
    width: .3rem;
    height: .3rem;
}